body{
    background-color: rgb(34, 18, 81);
    color: white;
}
button{
    background-color: rgb(83, 83, 240);

    border-radius: 16px;
}

.button1{
    border: 5px solid;
    border-color: rgb(248, 238, 95);
}

.button2{
    border: 5px solid;
    border-color: rgb(248, 238, 95) ;
}

@font-face {
        font-family: 'Monaspace Neon';
        src: url('../fonts/MonaspaceNeon-Regular.woff2') format('woff2'),
             url('../fonts/MonaspaceNeon-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }